.inputs {
  display: flex;
  flex-direction: column;
}

.inputs input {
  background-color: #ffffff;
  border: 2px solid #1f1297;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.botao {
  background: linear-gradient(to left, #4776e6, #8e54e9);
  border-radius: 4px;
  padding: 8px 16px;
  width: 100%;
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
  transition: all 0.3s ease;
}
.sbt {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.card {
  padding: 4rem 3rem;
  background: #ffffff;
  border-radius: 12px;
}
.login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-weight: 600;
  margin-bottom: 2rem;
  position: relative;
}
h1::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 25px;
  bottom: 3px;
  left: 0;
  border-radius: 8px;
  background: linear-gradient(45deg, #8e2de2, #4a00e0);
}
img {
  width: 4rem;
  padding-left: 3.6rem;
}
