.home_users {
  background: white;
  width: 900px;
  display: flex;
  padding: 2rem;
  margin-left: 2rem;
  border-radius: 12px;
  border: rgba(0, 0, 0, 0.815) solid 4px;
}

h1 {
  margin-left: 2rem;
}
